# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubeconfigs & secrets
.kube/
*.kubeconfig
kubeconfig*
.env
.env.*

# Divers
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
.venv/

# Clés (age / deploy key Flux)
*.agekey
flux-deploy-key*
private.key
